<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @work.description %>
</p>

<p>
  <b>Task:</b>
  <%= @work.task_id %>
</p>

<p>
  <b>Mechanical turk:</b>
  <%= @work.mechanical_turk_id %>
</p>

<p>
  <b>Status:</b>
  <%= @work.status %>
</p>

<%= form_for(@work, url: complete_work_path(@work)) do |f| %>
  <div class="actions">
    <%= f.submit 'Complete' %>
  </div>
<% end %>
<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
