<%= form_for(@mechanical_turk) do |f| %>
  <% if @mechanical_turk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mechanical_turk.errors.count, "error") %> prohibited this mechanical_turk from being saved:</h2>

      <ul>
      <% @mechanical_turk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
