<h1>Listing mechanical_turks</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mechanical_turks.each do |mechanical_turk| %>
  <tr>
    <td><%= mechanical_turk.id %></td>
    <td><%= mechanical_turk.name %></td>
    <td><%= link_to 'Show', mechanical_turk %></td>
    <td><%= link_to 'Edit', edit_mechanical_turk_path(mechanical_turk) %></td>
    <td><%= link_to 'Destroy', mechanical_turk, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mechanical turk', new_mechanical_turk_path %>
