<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mechanical_turk.name %>(<%=@mechanical_turk.id%>)
</p>


<%= link_to 'Edit', edit_mechanical_turk_path(@mechanical_turk) %> |
<%= link_to 'Back', mechanical_turks_path %>
